# Files
.coverage
coverage.*

# Folders
.idea
.ipynb_checkpoints
.tox
.vscode
_build
__pycache__

*.egg-info

.pytask
build
dist
src/project/_version.py
.mypy_cache
.pytest_cache
.ruff_cache
.venv
bld
